.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 0.5rem;
  background: #0f0f0f;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #21f3ff;
}

.title a {
  color: #21f3ff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #21f3ff;
}

.description a {
  color: #21f3ff;
  text-decoration: none;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}